name: Publish to PyPi

on:
  release:
    types: [published]

jobs:
  publish:
    uses: Mews/.github/.github/workflows/publish-python-package.yaml@main
    with:
      python_version: '3.10'
      os: 'windows-latest'
    permissions:
      id-token: write
