name: Smoke Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_call:

jobs:
  smoke:
    name: Run smoke tests

    uses: Mews/.github/.github/workflows/smoke-test-python.yaml@main
    with:
      package_name: 'pyrobloxbot'
      python_versions: '["3.10", "3.13"]'
      os_list: '["windows-latest"]'
